h1{ color: black;
font-family:"Poppins",
    sans-serif; ;
font-weight: 700;
font-size: 36px;
line-height: 54px;
text-align: center;
}
h2{ font-family: "Playfair Display", serif;;}
.front-heading{
    background-color: #F9F7FE;
text-align: center;}
